Thanks So Much for Your Order! We Hope You Enjoy Your New Purchase!

Your Order #<%= @order_id %> successfully paid!

Details of your order:</i></h5>
<%= render partial: '/orders/order_history', formats: :html, locals: { order: @order } %>

Grateful to Have You as a Customer!
Dionysus Store
